.brand-watermark {
  background: transparent !important;

  small {
    color: #eceff2;
    font-weight: 100;
    letter-spacing: .2px;
    opacity: .9;
  }
}

:root[data-mantine-color-scheme='light'] .brand-watermark {
  background: transparent !important;

  small { color: #0f172a; }
}
