.count-card-wrapper {
  // background: #f1f0eb;
  padding: 10px;
  border-radius: 12px;

  // &--label {
  //   font-size: 17px;
  //   font-weight: 600;
  //   color: rgb(156, 34, 34);
  // }

  
}

.count-card-value {
    font-size: 31px;
    margin: 2px;
    font-weight: 800;
    color: green;
  }
  
.card-title{
  font-size: 1.5rem;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 1rem;
 
}
